<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803268989023-hloa5etsp92irv9g149pr0sei96l1v04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803268989023-hloa5etsp92irv9g149pr0sei96l1v04</string>
	<key>API_KEY</key>
	<string>AIzaSyB7MUqHs6MebEJD_1SXPE-H4_oAYfu3Ci0</string>
	<key>GCM_SENDER_ID</key>
	<string>803268989023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.ctimbi.test</string>
	<key>PROJECT_ID</key>
	<string>test-2a7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2a7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803268989023:ios:c63f81ebe9ed7000</string>
	<key>DATABASE_URL</key>
	<string>https://test-2a7f8.firebaseio.com</string>
</dict>
</plist>